.contactUs {
  width: auto;
  background-color: #fff;
  padding-bottom: 2rem;
}
.contactUs .contactusDetails {
  padding: 1% 3%;
  text-align: center;
}
.contactUs .contactusDetails img {
  margin: 1rem 0 1rem;
}
.contactUs .contactusDetails h1 {
  margin: 0 0 1rem;
  font-family: Raleway, Arial, sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  color: #00046c;
  box-shadow: none;
}
.contactUs .contactusDetails p {
  text-align: center;
  margin: 0 0 1rem;
  line-height: 30px;
  font-size: 1.1rem;
  color: #00046c;
  font-family: Raleway, Arial, sans-serif;
}
.submitButton {
  width: 10vw;
}
@media screen and (max-width: 1200px) {
  .contactusDetailsh1 {
    font-size: 40px;
    line-height: 50px;
    margin-top: 3%;
  }
  .contactusDetails p {
    margin: 0 3% 6%;
    text-align: center;
    font-size: 1.2em;
  }
}
@media screen and (max-width: 650px) {
  .contactusDetails h1 {
    font-size: 1.3rem;
    line-height: 50px;
    margin-top: 3%;
  }
  .contactusDetails p {
    text-align: justify;
    font-size: 1rem;
  }
}
@media screen and (max-width: 450px) {
  .contactusDetails h1 {
    font-size: 1.3rem;
    line-height: 50px;
    margin-top: 3%;
  }
  .contactusDetails p {
    text-align: center;
    margin-left: 10%;
    font-size: 1rem;
  }
}
.contactUs .formSection {
  margin: 2rem auto;
  max-width: 800px;
  border-radius: 25px;
  padding: 4rem 5rem;
}
.contactUs .formSection form label {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #00046c;
}
.contactUs .formSection form input,
.contactUs .formSection form textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 1.5rem;
  border-radius: 12px;
  font-size: 1rem;
  border: 1px solid #ddd;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
.contactUs .formSection form input:focus,
.contactUs .formSection form textarea:focus {
  outline: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-color: #1d2951;
}
.contactUs .formSection form textarea {
  resize: none;
  height: 180px;
}
.contactUs .formSection form button {
  display: inline-block;
  width: 100%;
  padding: 14px 0;
  border-radius: 25px;
  font-size: 1.1rem;
  border: none;
  background-color: #1d2951;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.contactUs .formSection form button:hover {
  background-color: #324a75;
  transform: translateY(-3px);
}
@media (max-width: 1200px) {
  .contactUs .formSection {
    padding: 4rem 3rem;
    margin: 0 10rem 2rem;
  }
  .contactUs .formSection form input,
  .contactUs .formSection form textarea {
    width: 100%;
    margin: 18px 0;
  }
  .contactUs .formSection form label {
    font-size: 1em;
  }
}
@media (max-width: 850px) {
  .contactUs .formSection {
    padding: 3rem 2rem;
    margin: 0 5rem 2rem;
  }
  .contactUs .formSection form input,
  .contactUs .formSection form textarea {
    width: 100%;
    margin: 18px 0;
  }
  .contactUs .formSection form label {
    font-size: 1em;
  }
}
@media (max-width: 540px) {
  .contactUs .formSection {
    padding: 2rem 1.5rem;
    margin: 0 2rem 2rem;
  }
}
