.content {
  margin-top: -25%;
  padding: 20% 5% 10%;
}
.content .registrationForm {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    border: 1px solid black;
    overflow: hidden;
    padding: 20% 5% 10%;
    position: relative;
  }
  
 .content .title h1{
    text-align: center;
    color: #2f327d;
    font-size: 3rem;
    margin: 10% 0;
  }
  
  .content .images {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .content .images img {
    margin-top: 9%;
    width: 80%;
    position: absolute;
    z-index: 1;
  }
  
  .content .registrationForm::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 10px;
    background-color: #8bc34a;
    border-radius: 0 20px 20px 0;
  }
  
  .content .registrationForm form {
    display: flex;
    flex-direction: column;
  }
  
  .content .registrationForm label {
    margin-bottom: 8px;
  }
  
  .content .registrationForm .genderOptions {
    display: flex;
    align-items: center;
    margin-bottom: 2%;
  }
  
  .content .registrationForm .genderOptions input {
    margin: 0 5px 0 10px;
  }
  
  .content .registrationForm .genderOptions input {
    padding: 8px;
    width: 30px;
    box-sizing: border-box;
  }
  
  .content .registrationForm .languagesOptions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5%;
  }
  
  .content .registrationForm .languagesOptions input {
    margin: 0 2px 0 10px;
  }
  
  .content .registrationForm .languagesOptions input {
    padding: 8px;
    width: 30px;
    box-sizing: border-box;
  }
  
  .content .registrationForm input, .content .registrationForm textarea {
    margin-bottom: 16px;
    padding: 8px;
    width: calc(100% - 10px);
    box-sizing: border-box;
  }
  
  .content .registrationForm .qualification {
    margin-bottom: 4%;
  }
  
  .content .registrationForm .qualification label {
    display: block;
  }
  
  .content .registrationForm .qualificationSection select {
    width: calc(100% - 10px);
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    overflow: hidden;
  }
  
  .content .registrationForm .qualificationSection select:hover,
  .content .registrationForm .qualificationSection select:focus {
    border-color: #666;
  }
  
  .content .registrationForm .studentGroupOptions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5%;
  }
  
  .content .registrationForm .studentGroupOptions input {
    margin: 0 2px 0 10px;
  }
  
  .content .registrationForm .studentGroupOptions input {
    padding: 8px;
    width: 30px;
    box-sizing: border-box;
  }
  
  .content .registrationForm .englishLanguageProficiency {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5%;
  }
  
  .content .registrationForm .englishLanguageProficiency input[type="checkbox"] {
    margin: 0 2px 0 10px;
  }
  
  .content .registrationForm .englishLanguageProficiency input {
    padding: 8px;
    width: 30px;
    box-sizing: border-box;
  }
  
  .content .registrationForm .experienceOptions {
    display: flex;
    align-items: center;
    margin-bottom: 4%;
  }
  
    .content .registrationForm .experienceOptions input[type="radio"] {
    margin: 0 5px 0 10px;
  }
  
    .content .registrationForm .experienceOptions input {
    padding: 8px;
    width: 30px;
    box-sizing: border-box;
  }
  
    .content .registrationForm .certificatesHaveOrNotOptions {
    display: flex;
    align-items: center;
    margin-bottom: 4%;
  }
  
    .content .registrationForm .certificatesHaveOrNotOptions input {
    margin: 0 5px 0 10px;
  }
  
  .content .registrationForm .certificatesHaveOrNotOptions input {
    padding: 8px;
    width: 30px;
    box-sizing: border-box;
  }
  
  #expTranslation::placeholder {
    color: #999;
    font-size: 1.3em;
    font-family: "Nunito Sans", sans-serif;
  }

  .chooseFile{
    background-color: white;
    height: auto;
    cursor: pointer;
  }
  
  /* rate per hour */
  
    .rateContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 2%;
  }
  
    .content .registrationForm .rateInput {
    display: flex;
    align-items: center;
    width: calc(100% - 10px);
  }
  
  #ratePerHour {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
  }
  
  #ratePerMonth {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
  }
  
  .content .registrationForm .rateControls button {
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
  }
  
  #ratePerHour:hover, #ratePerHour:focus {
    border-color: #666;
  }
  
  .content .registrationForm textarea {
    max-height: 100px;
    resize: vertical;
  }
  
  .submitCenter {
    text-align: center;
  }
  
  .content .registrationForm button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #8bc34a;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .content .registrationForm button:hover {
    color: white;
    background-color: green; 
  }

  @media screen and  (max-width: 800px) {
    .content .title h1{
      font-size: 2.2rem;
    }
  }

  @media screen and  (max-width: 580px) {
    .content .title h1{
      font-size: 1.9rem;
    }
  }