
.content .registrationForm {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    border: 1px solid black;
    overflow: hidden;
    padding: 20% 5% 10%;
    position: relative;
  }
  
 .content .title h1{
    text-align: center;
    color: #2f327d;
    font-size: 3rem;
    margin: 10% 0;
  }
  
  .content .images {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .content .images img {
    margin-top: 9%;
    width: 80%;
    position: absolute;
    z-index: 1;
  }
  
  .registrationForm::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 10px;
    background-color: #8bc34a;
    border-radius: 0 20px 20px 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
  }
  
  .genderOptions {
    display: flex;
    align-items: center;
    margin-bottom: 2%;
  }
  
  .genderOptions input[type="radio"] {
    margin: 0 5px 0 10px;
  }
  
  .genderOptions input {
    padding: 8px;
    width: 30px;
    box-sizing: border-box;
  }
  
  .languagesOptions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5%;
  }
  
  .languagesOptions input[type="checkbox"] {
    margin: 0 2px 0 10px;
  }
  
  .languagesOptions input {
    padding: 8px;
    width: 30px;
    box-sizing: border-box;
  }
  
  input,
  textarea {
    margin-bottom: 16px;
    padding: 8px;
    width: calc(100% - 10px);
    box-sizing: border-box;
  }
  
  .qualification {
    margin-bottom: 4%;
  }
  
  .qualification label {
    display: block;
  }
  
  .qualificationSection select {
    width: calc(100% - 10px);
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    overflow: hidden;
  }
  
  .qualificationSection select:hover,
  .qualificationSection select:focus {
    border-color: #666;
  }
  
  .studentGroupOptions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5%;
  }
  
  .studentGroupOptions input[type="checkbox"] {
    margin: 0 2px 0 10px;
  }
  
  .studentGroupOptions input {
    padding: 8px;
    width: 30px;
    box-sizing: border-box;
  }
  
  .englishLanguageProficiency {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5%;
  }
  
  .englishLanguageProficiency input[type="checkbox"] {
    margin: 0 2px 0 10px;
  }
  
  .englishLanguageProficiency input {
    padding: 8px;
    width: 30px;
    box-sizing: border-box;
  }
  
  .experienceOptions {
    display: flex;
    align-items: center;
    margin-bottom: 4%;
  }
  
  .experienceOptions input[type="radio"] {
    margin: 0 5px 0 10px;
  }
  
  .experienceOptions input {
    padding: 8px;
    width: 30px;
    box-sizing: border-box;
  }
  
  .certificatesHaveOrNotOptions {
    display: flex;
    align-items: center;
    margin-bottom: 4%;
  }
  
  .certificatesHaveOrNotOptions input[type="radio"] {
    margin: 0 5px 0 10px;
  }
  
  .certificatesHaveOrNotOptions input {
    padding: 8px;
    width: 30px;
    box-sizing: border-box;
  }
  
  #expTranslation::placeholder {
    color: #999;
    font-size: 1.3em;
    font-family: "Nunito Sans", sans-serif;
  }
  
  /* rate per hour */
  
  .rateContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 2%;
  }
  
  .rateInput {
    display: flex;
    align-items: center;
    width: calc(100% - 10px);
  }
  
  #ratePerHour {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
  }
  
  #ratePerMonth {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
  }
  
  .rateControls button {
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
  }
  
  #ratePerHour:hover,
  #ratePerHour:focus {
    border-color: #666;
  }
  
  textarea.limited-height {
    max-height: 100px;
    resize: vertical;
  }
  
  .submitCenter {
    text-align: center;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #8bc34a;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    color: white;
    background-color: green; /* Adjust the color on hover as needed */
  }