.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
  }
  
  .dbutton {
    padding: 10px 20px;
    background-color: #00046c;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .dbutton:hover {
    background-color: #4CAF50;
  }
  