.rightpg {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #f5f7f9;
  padding: 10rem 0rem;
}

.master_container {
  display: grid;
  grid-template-columns: auto;
  gap: 5px;
  margin-left: 5rem;
}

.card {
  width: 70%;
  background: #ffffff;
}

.heading {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.title {
  width: 100%;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-bottom: 1px solid #efeff3;
  font-weight: 700;
  font-size: 11px;
  color: #63656b;
}

.cart {
  border-radius: 10px;
  margin-top: -1rem;
}

.cart .products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3px 8px;
}

.checkout {
  border-radius: 10px;
  margin-top: 1rem;
}

.checkout .details {
  display: flex;
  justify-content: space-between;
  padding: 10px 1rem 12px;
}

.checkout .details .checkout_span {
  font-size: 0.9rem;
  font-weight: 500;
}

.checkout .details .checkout_amount {
  font-weight: bolder;
}

.checkout_footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: auto;
}

.checkout_footer button {
  width: 70%;
  margin-top: 1rem;
  background: black;
  color: white;
  border-radius: 5px;
  padding: 10px;
  transition: font-size 0.3s ease, transform 0.3s ease;
}

.checkout_footer .purchase_btn:hover {
  font-size: 1rem;
  transform: scale(1.05);
}

.checkout_footer .images {
  width: 35%;
  margin-top: 1rem;
  margin-left: 7rem;
}
