.mascotDiv {
  height: 100%;
  text-align: center;
  padding-top: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coverContainer {
  /* background-color: rgb(0, 0, 0); */
  background-image: url("/Index/newcoverimg.png");
  background-size: cover;
  background-position: center;
  height: auto;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}
.coverPage {
  margin-top: 1rem;
  text-align: center;
}
.mascotCover img {
  width: 480px;
  height: auto;
}
@media (max-width:1000px){
  .mascotCover img{
    width: 400px;
  } 
}
@media (max-width:600px){
  .mascotCover img{
    width: 300px;
  } 
}
.coverPage h1 {
  color: #002e5b;
  margin-top: 2.5rem;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 550;
}
/* .coverPage h2 {
  color: #002e5b;
  margin-top: 1rem;
  font-size: 1.30rem;
  font-family: Raleway, Arial, sans-serif;
} */
.coverPage p {
  color: #002e5b;
  margin: 1rem 12rem;
  font-size: 0.8rem;
  font-family: Raleway, Arial, sans-serif;
  text-align: center;
}
@media (max-width:1200px){
  .coverPage p{
    margin: 1rem 7rem;
  }
}
@media (max-width:1000px){
  .coverPage p{
    margin: 1rem 5rem;
  }
}
@media (max-width:700px){
  .coverPage p{
    margin: 1rem 2rem;
  }
}
@media (max-width:470px){
  .coverPage p{
    margin: 1rem 0.5rem;
  }
}
/* .coverPage h4 {
  color: #002e5b;
  margin-top: 1rem;
  font-family: Raleway, Arial, sans-serif;
} */
.coverpageButton button {
  font-family: Raleway, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  line-height: 30px;
  border-radius: 40px 40px 40px 40px;
  padding: 12px 26px;
  border: none;
  cursor: pointer;
  background: #2f327c;
  color: white;
  margin-top: 1rem;
  margin-bottom: 5rem;
  font-weight: bold;
}
.coverpageButton button:hover {
  background-color: #ef4b2b;
  color: white;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

@media (max-width: 600px) {
  .coverPage {
    padding: 0rem 2rem;
  }
  .coverPage h1 {
    font-size: 30px;
  }
  .coverPage h2 {
    margin-top: 2rem;
    font-size: 18px;
  }
  /* .coverPage h4 {
    font-size: 18px;
    margin-top: 2rem;
  } */
  .coverpageButton button {
    margin-top: 2rem;
  }
}

/* lottie player starts here */
.lottie{
  background: #facb6e;
  margin: 2rem 0rem 3rem;
  padding: 2rem 0rem 0rem;
}
.iframeLottie {
  text-align: center;
  width: 1400px;
  height: 500px;
}

@media screen and (max-width: 1330px) {
  .iframeLottie {
    width: auto;
    height: auto;
  }
}
@media screen and (max-width: 1250px) {
}
@media screen and (max-width: 400px) {
}
.downloadButton{
  margin-top: -3rem;
 text-align: center;
}

/* lottie player ends here */

/* our solution css */
.solcontainer {
  margin-top: 4rem;
  text-align: center;
  padding: 20px;
}
.solcontainer h2 {
  font-family: Raleway, Arial, sans-serif;
}
.solheader {
  margin-bottom: 2.5rem;
}

.solution {
  display: flex;
  align-items: center;
  margin: 20px 0;
  justify-content: center;
  flex-wrap: wrap;
}
.solution2 {
  display: flex;
  align-items: center;
  margin: 20px 0;
  justify-content: center;
  flex-wrap: wrap;
}
.iconContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.text {
  max-width: 800px;
  font-size: 1.2rem;
  color: #333;
  font-family: Raleway, Arial, sans-serif;
}

/* Responsiveness */
@media (max-width: 768px) {
  .solution {
    flex-direction: column;
    padding: 0rem 1rem;
  }

  .solution2 {
    flex-direction: column-reverse;
    padding: 0rem 1rem;
  }

  .solheader {
    font-size: 30px;
  }

  .iconContainer {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .text {
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    text-justify: inter-word;
  }
}

/* wondering how learning css ++++ same css for why online lang section */
.wonderingContainer {
  margin-top: 5rem;
  text-align: center;
  padding: 1rem 10rem;
}
.wonderingContainer h2 {
  font-family: Raleway, Arial, sans-serif;
}
.wonderingContainer hr {
  border: 1px solid #d94f34;
  margin-top: 2rem;
  width: 100%;
}

@media (max-width: 1200px) {
  .wonderingContainer {
    padding: 1rem 4rem;
  }
}

@media (max-width: 700px) {
  .wonderingContainer {
    padding: 1rem 1.5rem;
  }
  .wonderingContainer h2 {
    font-size: 25px;
  }
}

/* 11 foreign language css */

.foreignContainer {
  text-align: center;
  padding: 1rem 10rem;
  margin: 0 auto;
  font-family: Raleway, Arial, sans-serif;
}

.foreignTitle {
  font-size: 32px;
  margin-bottom: 10px;
}
.foreignContainer h2 {
  font-family: Raleway, Arial, sans-serif;
  color: #0b2743;
}

.foreignHighlight {
  color: orange;
}

.foreignSubtitle {
  color: #d94f34;
  margin-top: 1rem;
  margin-bottom: 20px;
}
.foreignContainer p {
  font-family: Raleway, Arial, sans-serif;
  font-size: 19px;
  padding: 0rem 5rem;
}

.mascotLang {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
}

.mascotImg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mascotImg img {
  height: 420px;
  width: auto;
  margin-right: 4rem;
}

.euroAsianlang {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.euroLang {
  margin: 1rem 1rem 2rem;
  text-align: left;
  width: 100%;
}

.euroLangList,
.asianLangList {
  display: grid;
  row-gap: 20px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
}

.euroLang h3 {
  /* common for both the lang*/
  font-family: Raleway, Arial, sans-serif;
  font-weight: bold;
  color: #2f327d;
  text-align: left;
  margin-bottom: 2rem;
}
.euroLangList a {
  padding: 5px 5px 0px;
  text-align: center;
  border-radius: 10px;
  margin-right: 10px;
  background-color: #226bb4;
  cursor: pointer;
}
.euroLangList a:hover {
  background-color: #d94f34;
  text-decoration: none;
}
.euroLangList h4 {
  font-family: Raleway, Arial, sans-serif;
  color: white;
  font-size: 20px;
}

.asianLangList a {
  padding: 4px 5px 0px;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  margin-right: 10px;
  /* background-color: #ffc552; */
  background-color: #f2ac25;
  cursor: pointer;
}
.asianLangList a:hover {
  background-color: #d94f34;
  text-decoration: none;
}
.asianLangList h4 {
  font-family: Raleway, Arial, sans-serif;
  color: white;
  font-size: 20px;
}
@media (max-width: 1300px) {
  .mascotImg img {
    height: 370px;
    width: auto;
    margin-right: 4rem;
  }
}

@media (max-width: 1100px) {
  .mascotLang {
    flex-direction: column;
  }
  .mascotImg img {
    height: 370px;
    width: auto;
    margin-bottom: 1rem;
    margin-right: 0rem;
  }
  .foreignContainer {
    padding: 1rem 5rem;
  }
  .foreignContainer p {
    padding: 1rem 4rem;
  }
}

@media (max-width: 768px) {
  .mascotImg img {
    height: 300px;
    width: auto;
  }
  .foreignTitle {
    font-size: 20px;
  }
  .foreignContainer {
    padding: 1rem 5rem;
  }
  .foreignContainer p {
    padding: 1rem 1rem;
    font-size: 16px;
  }
  .euroLang h3 {
    font-size: 23px;
  }
  .euroLangList h4 {
    font-size: 19px;
  }
  .asianLangList h4 {
    font-size: 19px;
  }
}

@media (max-width: 480px) {
  .foreignTitle {
    font-size: 18px;
  }

  .foreignSubtitle {
    font-size: 14px;
  }
  .foreignContainer {
    padding: 1rem 2rem;
  }
  .foreignContainer p {
    padding: 1rem 1rem;
    font-size: 14px;
  }
  .mascotLang {
    padding: 0rem 2rem;
  }
  .euroLang {
    margin: 1rem 1rem 1rem;
  }
  .euroLang h3 {
    font-size: 21px;
    margin-bottom: 1rem;
  }
  .euroLangList h4 {
    font-size: 16px;
  }
  .asianLangList h4 {
    font-size: 16px;
  }
}


/* newsppr section */

.pprLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pprLayout h3 {
  font-size: 32px;
  font-family: Raleway, Arial, sans-serif;
  color: #0b2743;
}

.pprContent, .pprContentRight, .iso {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border: 1px solid black;
  padding: 2rem;
  margin: 2rem;
  border-radius: 10px;
}

.pprLeft {
  margin: 1rem;
}

.pprContentRight .pprLeft img{
  width: 40vw;
  height: 60vh;
}

.pprLeft img {
  border-radius: 10px;
}

.pprRight {
  margin: 1rem;
}
.pprRight p {
  text-align: justify;
  font-family: Raleway, Arial, sans-serif;
  color: #0b2743;
  font-size: 1.3rem;
}

.iso{

}

.iso .pprLeft img{
  width: 30vw;
  height: 75vh;
  /* width: 25vw;
  height: 70vh; */
}

@media (max-width: 1200px) {
  .pprLeft img {
    width: 40vw;
    height: 50vh;
  }

  .pprRight p {
    font-size: 1rem;
  }
}

@media (max-width: 1000px) {
  .pprLayout h3 {
    font-size: 1.7rem;
  }

  .pprContent, .pprContentRight, .iso {
    flex-direction: column;
    padding: 0;
  }

  .pprContentRight{
    flex-direction: column-reverse;
  }

  .pprContentRight .pprLeft img{
    width: 100%;
    height: auto;
  } 

  .pprLeft img {
    width: 100%;
    height: auto;
  }

  .pprRight p {
    font-size: 1rem;
  }


  .iso .pprLeft img{
    width: 100%;
    height: 80vh;
  }

  .iso_head{
    margin-bottom: 2rem;
  }

}

@media (max-width: 480px) {
  .iso .pprLeft img{
    width: 100%;
    height: 50vh;
  }
}
