/* scrollbar.css */
::-webkit-scrollbar {
    width: 13px;
  }
  
  ::-webkit-scrollbar-track {
    /* background: #d94f34; */
    /* background: #226bb4; */
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #f2ac25; 
    border-radius: 8px;
    border: 3px solid #f1f1f1; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #d94f34;
    /* background: #226bb4; */
  }
  