* {
    padding: 0;
    margin: 0;
  }
  
  
  /* heading - top section */
  
  .headingTag {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .headingTag h1 {
    margin: 5rem 0 3rem;
    color: #2f327d;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 3.7rem;
    font-weight: 750;
    line-height: 4.6rem;
    text-align: center;
  }
  
  .headingTag .stats ul li {
    font-family: "Nunito Sans", Sans-serif;
    font-size: 1.3rem;
    margin: 2% 2em;
    color: #464646;
  }
  
  .boldFirst {
    font-weight: 900;
  }
  
  .registerButton {
    margin-top: 4%;
    border-radius: 25px;
    background-color: #45b9ef;
    padding: 20px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: bolder;
    font-family: "Nunito Sans", Sans-serif;
  }
  
  .registerButton:hover {
    background-color: black;
    color: white;
  }
  
  /* sidebar  */
  .sidebar {
    width: 300px;
    height: 95%;
    position: fixed;
    top: 0;
    right: -400px;
    background-color: #ebfaff;
    color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure the sidebar is on top of other elements */
  }
  
  .sidebar h1 {
    color: #2f327d;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 2rem;
    font-weight: 750;
    line-height: 4.6rem;
    text-align: center;
  }
  
  .sidebar .closeBtn {
    font-size: 2rem;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: black;
  }
  
  .registrationForm {
    padding: 20px;
  }
  
  .registrationForm label {
    display: block;
    margin-bottom: 8px;
    color: black;
  }
  
  .registrationForm input,
  .registrationForm select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 5px;
    /* background-color: #2F327D; */
    color: black;
  }
  
  .registrationForm button {
    width: calc(100% - 20px);
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #45b9ef;
    color: black;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bolder;
    font-family: "Nunito Sans", Sans-serif;
    transition: background-color 0.3s;
  }
  
  .registrationForm button:hover {
    background-color: black;
    color: white;
  }
  
  /* Media queries for responsiveness */
  
  @media screen and (max-width: 1200px) {
    .headingTag h1 {
      font-size: 40px;
      line-height: 50px;
      margin-top: 3%;
    }
  
    .headingTag .stats ul li {
      font-size: 1.2em;
    }
  
    .registerButton {
      font-size: 1em;
      padding: 15px;
      margin-bottom: 3%;
    }
  }
  
  @media screen and (max-width: 850px) {
    .headingTag h1 {
      font-size: 40px;
      line-height: 50px;
      margin-top: 3%;
    }
  
    .headingTag .stats ul li {
      font-size: 1.2em;
    }
  
    .registerButton {
      font-size: 1em;
      padding: 15px;
      margin-bottom: 3%;
    }
  }
  
  @media screen and (max-width: 500px) {
    .headingTag h1 {
      font-size: 2rem;
      margin-top: 3%;
    }
  }
  
  @media screen and (max-width: 450px) {
    .headingTag h1 {
      font-size: 1.5rem;
      line-height: 50px;
      margin-top: 3%;
    }
  
    .headingTag .stats ul li {
      text-align: justify;
      margin-left: 10%;
      font-size: 1.2em;
    }
  
    .registerButton {
      font-size: 1.2em;
      padding: 10px;
      margin-bottom: 3%;
    }
  }
  
  /* bio section */
  
  .bio {
    margin: 10% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .bio p {
    text-align: center;
    color: #464646;
    font-family: "Poppins", Sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2rem;
  }
  
  /* Media queries for responsiveness */
  
  @media screen and (max-width: 1200px) {
    .bio p {
      font-size: 1.2em;
      text-align: justify;
    }
  }
  
  @media screen and (max-width: 850px) {
    .bio p {
      font-size: 1.2em;
      text-align: justify;
      line-height: 1.5em;
    }
  }
  
  @media screen and (max-width: 450px) {
    .bio{
      padding: 0 2%;
    }
    .bio p {
      font-size: 1.2em;
      text-align: justify;
    }
  }
  
  /* tabular  */
  
  .tableComparison {
    margin: 0 12%;
    /* padding: 5%; */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #0368ff;
    border-radius: 20px;
  }
  
  table {
    width: 100%;
    border: 1px solid #0368ff;
    border-collapse: collapse;
    border-radius: 20px;
    overflow: hidden;
  }
  
  td {
    padding: 5%;
    border: 1px solid #0368ff;
    border-collapse: collapse;
    font-size: 1.2rem;
    color: #464646;
    font-family: "Poppins", Sans-serif;
    font-weight: 400;
    line-height: 25.5px;
    text-align: justify;
  }
  
  
  /* Media query for responsiveness */
  
  @media (max-width: 550px) {
  
    table, tr, td {
      display: block;
    }
  
    table {
      border-radius: 0;
      overflow-x: auto;
      border: none; /* Remove border to prevent overlap */
    }
  
    /* Remove borders between rows */
    td {
      border: none;
      border-bottom: 1px solid #0368ff;
    }
  
    /* last row last column last child --> made it border none */
    tr:last-child td:last-child {
      border: none;
    }
  }
  
  
  @media (max-width: 400px) {
    td {
      font-size: 0.9rem;
      line-height: 25.5px;
    }
    
  }
  
  
  /* origin section */
  
  .originStorySection {
    margin: 14% 15% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .originStorySection .leftSide {
    /* width: 50%; */
    margin-right: 10%;
    box-sizing: border-box;
  }
  
  .originStorySection .rightSide h1 {
    color: #2f327d;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 3.5em;
    font-weight: 600;
    text-align: justify;
  }
  
  .originStorySection .rightSide p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 20px;
    margin-top: 0;
    font-family: "Nunito Sans", Sans-serif;
    text-align: justify;
    color: #464646;
  }
  
  /* Media queries for responsiveness */
  
  
  @media screen and (max-width: 1300px) {
    .originStorySection {
      display: flex;
      justify-content: space-evenly;
      text-align: center;
    }
  
    .originStorySection .leftSide img {
      margin-top: 4%;
      margin-right: 1rem;
      width: 35vw;
      height: 30vh;
    }
  
    .originStorySection .rightSide h1 {
      font-size: 40px;
      line-height: 50px;
      margin-top: 3%;
    }
  
    .originStorySection .rightSide p {
      font-size: 1.2em;
    }
  }
  
  @media screen and (max-width: 1200px) {
  
    .originStorySection .leftSide img {
      width: 35vw;
      height: 30vh;
    }
  
  }
  
  @media screen and (max-width: 990px) {
  
    .originStorySection .leftSide{
      width: 30vw;
    }
  
    .originStorySection .rightSide{
      width: 70vw;
    }
  
    .originStorySection .leftSide img {
      margin-top: 4%;
      width: 20rem;
      height: 15rem;
    }
  
    .originStorySection .rightSide h1 {
      font-size: 1.8rem;
      line-height: 50px;
      margin-top: 3%;
    }
  
    .originStorySection .rightSide p {
      font-size: 1.2em;
      line-height: 25px
    }
  }
  
  @media screen and (max-width: 870px) {
  
    .originStorySection .leftSide img {
      margin-top: 4%;
      width: 15rem;
      height: 12rem;
    }
  
    .originStorySection .rightSide h1 {
      font-size: 1.8rem;
      line-height: 50px;
      margin-top: 3%;
    }
  
    .originStorySection .rightSide p {
      font-size: 1.2em;
      line-height: 25px
    }
  }
  
  @media screen and (max-width: 690px) {
  
    .originStorySection .leftSide{
      width: 20vw;
    }
  
    .originStorySection .rightSide{
      margin-left: 2%;
      width: 80vw;
    }
  
    .originStorySection .leftSide img {
      margin-top: 4%;
      width: 10rem;
      height: 8rem;
    }
  
    .originStorySection .rightSide h1 {
      font-size: 1.5rem;
      margin-top: 3%;
    }
  
    .originStorySection .rightSide p {
      font-size: 1em;
      line-height: 20px
    }
  }
  
  @media screen and (max-width: 600px) {
  
    .originStorySection .leftSide img {
      margin-top: 4%;
      width: 9rem;
      height: 7rem;
    }
  
    .originStorySection .rightSide h1 {
      font-size: 1.4rem;
      margin-top: 3%;
    }
  
    .originStorySection .rightSide p {
      font-size: 1rem;
      line-height: 20px
    }
  }
  
  @media screen and (max-width: 550px) {
  
    .originStorySection {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
    }
  
    .originStorySection .leftSide{
      margin-right: 7rem;
      order: 1;
    }
  
    .originStorySection .rightSide{
      margin-right: 10%;
      order: 2;
    }
  
    .originStorySection .leftSide img {
      margin-top: 4%;
      width: 12rem;
      height: 10rem;
    }
  
    .originStorySection .rightSide h1 {
      font-size: 1.4rem;
      margin-top: 5%;
      margin-bottom: -9%;
    }
  
    .originStorySection .rightSide p {
      font-size: 1rem;
      line-height: 20px
    }
  }
  
  @media screen and (max-width: 450px) {
    .originStorySection {
      flex-direction: column;
      text-align: center;
      height: auto;
    }
  
    .originStorySection .leftSide {
      margin-right: 8rem;
      order: 1;
    }
  
    .originStorySection .rightSide {
      order: 2;
    }
  
    .originStorySection .leftSide img {
      margin-top: 4%;
      width: 10rem;
      height: 8rem;
    }
    .originStorySection .rightSide h1 {
      font-size: 1.4rem;
      margin-top: 5%;
      margin-bottom: -9%;
    }
    .originStorySection .rightSide p {
      font-size: 0.9rem;
      line-height: 22px
    }
  }
  
  /* vision section */
  
  .visionSection {
    margin: 10% 0 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .visionSection h1 {
    color: #2f327d;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 3.5em;
    font-weight: 600;
    text-align: justify;
  }
  
  .visionOfOurs {
    margin: 1% 15% 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .visionOfOurs .leftSide {
    width: 50%;
    margin-right: 10%;
    box-sizing: border-box;
  }
  
  .visionOfOurs .rightSide h1 {
    color: #2f327d;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 2.2em;
    font-weight: 600;
    text-align: justify;
  }
  
  .visionOfOurs .rightSide p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 20px;
    margin-top: 0;
    font-family: "Nunito Sans", Sans-serif;
    text-align: justify;
    color: #464646;
  }
  
  /* Media queries for responsiveness */
  
  
  @media screen and (max-width: 1300px) {
    .visionOfOurs {
      display: flex;
      justify-content: space-evenly;
      text-align: center;
    }
  
    .visionOfOurs .leftSide img {
      margin-top: 4%;
      margin-right: 1rem;
      width: 35vw;
      height: 30vh;
    }
  
    .visionOfOurs .rightSide h1 {
      font-size: 40px;
      line-height: 50px;
      margin-top: 3%;
    }
  
    .visionOfOurs .rightSide p {
      font-size: 1.2em;
    }
  }
  
  @media screen and (max-width: 1200px) {
  
    .visionOfOurs .leftSide img {
      width: 35vw;
      height: 30vh;
    }
  
  }
  
  @media screen and (max-width: 990px) {
  
    .visionSection h1 {
      font-size: 2.5rem;
    }
  
    .visionOfOurs{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
  
    .visionOfOurs .leftSide img {
      margin-top: 4%;
      width: 20rem;
      height: 15rem;
    }
  
    .visionOfOurs .rightSide h1 {
      font-size: 1.8rem;
      line-height: 50px;
      margin-top: 3%;
    }
  
    .visionOfOurs .rightSide p {
      font-size: 1.2em;
      line-height: 25px
    }
  }
  
  @media screen and (max-width: 850px) {
  
    .visionOfOurs .leftSide img {
      margin-top: 4%;
      width: 15rem;
      height: 12rem;
    }
  
    .visionOfOurs .rightSide h1 {
      font-size: 1.8rem;
      line-height: 50px;
      margin-top: 3%;
    }
  
    .visionOfOurs .rightSide p {
      margin-right: 7%;
      font-size: 1.2em;
      line-height: 25px
    }
  }
  
  @media screen and (max-width: 690px) {
  
    .visionSection h1 {
      font-size: 2.2rem;
    }
  
  
    .visionOfOurs .rightSide{
      margin-left: 2%;
    }
  
    .visionOfOurs .leftSide img {
      margin-top: 4%;
      width: 10rem;
      height: 8rem;
    }
  
    .visionOfOurs .rightSide h1 {
      font-size: 1.5rem;
      margin-top: 3%;
      line-height: 30px;
    }
  
    .visionOfOurs .rightSide p {
      font-size: 1em;
      line-height: 20px;
    }
  }
  
  @media screen and (max-width: 600px) {
  
    .visionOfOurs .rightSide{
      margin-left: -10%;
    }
  
    .visionOfOurs .leftSide img {
      margin-top: 4%;
      width: 9rem;
      height: 7rem;
    }
  
    .visionOfOurs .rightSide h1 {
      font-size: 1.4rem;
      margin-top: 3%;
    }
  
    .visionOfOurs .rightSide p {
      font-size: 1rem;
      line-height: 20px
    }
  }
  
  @media screen and (max-width: 550px) {
  
    .visionSection{
      padding: 0;
    }
  
    .visionSection h1 {
      font-size: 2rem;
    }
  
    .visionOfOurs {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
    }
  
    .visionOfOurs .leftSide{
      order: 1;
    }
  
    .visionOfOurs .rightSide{
      margin: 0 -10%;
      order: 2;
    }
  
    .visionOfOurs .leftSide img {
      margin-top: 4%;
      width: 12rem;
      height: 10rem;
    }
  
    .visionOfOurs .rightSide h1 {
      font-size: 1.4rem;
      margin-top: 5%;
      line-height: 25px;
      margin-bottom: -9%;
    }
  
    .visionOfOurs .rightSide p {
      font-size: 1rem;
      line-height: 20px
    }
  }
  
  @media screen and (max-width: 450px) {
  
    .visionSection h1 {
      font-size: 1.8rem;
    }
  
    .visionOfOurs {
      flex-direction: column;
      text-align: center;
      height: auto;
    }
  
    .visionOfOurs .leftSide {
      margin-right: 2rem;
      order: 1;
    }
  
    .visionOfOurs .rightSide {
      order: 2;
    }
  
    .visionOfOurs .leftSide img {
      margin-top: 4%;
      width: 10rem;
      height: 8rem;
    }
    .visionOfOurs .rightSide h1 {
      font-size: 1.4rem;
      margin-top: 5%;
      margin-bottom: -9%;
    }
    .visionOfOurs .rightSide p {
      font-size: 0.9rem;
      line-height: 22px
    }
  }
  
  /* mission section */
  
  .missionSection {
    margin: 0 15% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .missionSection .leftSide {
    width: 50%;
    margin-right: 10%;
    box-sizing: border-box;
  }
  
  .missionSection .leftSide h1{
    color: #2f327d;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 2.2em;
    font-weight: 600;
    text-align: justify;
  }
  
  .missionSection .leftSide p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 20px;
    font-family: "Nunito Sans", Sans-serif;
    text-align: justify;
  }
  
  /* Media queries for responsiveness */
  
  
  @media screen and (max-width: 1300px) {
    .missionSection {
      display: flex;
      justify-content: space-evenly;
      text-align: center;
    }
  
    .missionSection .rightSide img {
      margin-top: 4%;
      margin-right: 1rem;
      width: 35vw;
      height: 30vh;
    }
  
    .missionSection .leftSide h1 {
      font-size: 40px;
      line-height: 50px;
      margin-top: 3%;
    }
  
    .missionSection .leftSide p {
      font-size: 1.2em;
    }
  }
  
  @media screen and (max-width: 1200px) {
  
    .missionSection .rightSide img {
      width: 35vw;
      height: 30vh;
    }
  
  }
  
  @media screen and (max-width: 990px) {
  
    .missionSection{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
  
    .missionSection .rightSide img {
      margin-top: 4%;
      width: 20rem;
      height: 15rem;
    }
  
    .missionSection .leftSide h1 {
      font-size: 1.8rem;
      line-height: 50px;
      margin-top: 3%;
    }
  
    .missionSection .leftSide p {
      font-size: 1.2em;
      line-height: 25px
    }
  }
  
  @media screen and (max-width: 850px) {
  
    .missionSection .rightSide img {
      margin-top: 4%;
      width: 15rem;
      height: 12rem;
    }
  
    .missionSection .leftSide h1 {
      font-size: 1.8rem;
      line-height: 50px;
      margin-top: 3%;
    }
  
    .missionSection .leftSide p {
      margin-right: 7%;
      font-size: 1.2em;
      line-height: 25px
    }
  }
  
  @media screen and (max-width: 690px) {
  
  
    .missionSection .leftSide{
      margin-left: 2%;
    }
  
    .missionSection .rightSide img {
      margin-top: 4%;
      width: 10rem;
      height: 8rem;
    }
  
    .missionSection .leftSide h1 {
      font-size: 1.5rem;
      margin-top: 3%;
      line-height: 30px;
    }
  
    .missionSection .leftSide p {
      font-size: 1em;
      line-height: 20px;
    }
  }
  
  @media screen and (max-width: 600px) {
  
    .missionSection .rightSide img {
      margin-top: 4%;
      width: 9rem;
      height: 7rem;
    }
  
    .missionSection .leftSide h1 {
      font-size: 1.4rem;
      margin-top: 3%;
    }
  
    .missionSection .leftSide p {
      font-size: 1rem;
      line-height: 20px
    }
  }
  
  @media screen and (max-width: 550px) {
  
    .missionSection {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
    }
  
    .missionSection .rightSide{
      order: 1;
    }
  
    .missionSection .leftSide{
      margin-left: 10%;
      width: 120%;
      /* margin: 0 -10%; */
      order: 2;
    }
  
    .missionSection .rightSide img {
      margin-top: 4%;
      width: 12rem;
      height: 10rem;
    }
  
    .missionSection .leftSide h1 {
      font-size: 1.4rem;
      margin-top: 5%;
      line-height: 25px;
      margin-bottom: -9%;
    }
  
    .missionSection .leftSide p {
      margin-top: 5%;
      font-size: 1rem;
      line-height: 20px
    }
  }
  
  @media screen and (max-width: 450px) {
  
    .missionSection {
      flex-direction: column;
      text-align: center;
      height: auto;
      margin-bottom: 15%;
    }
  
    .missionSection .rightSide {
      margin-right: 2rem;
      order: 1;
    }
  
    .missionSection .leftSide {
      margin-left: 10%;
      width: 120%;
      order: 2;
    }
  
    .missionSection .rightSide img {
      margin-top: 4%;
      width: 10rem;
      height: 8rem;
    }
    .missionSection .leftSide h1 {
      font-size: 1.4rem;
      margin-top: 5%;
    }
    .missionSection .leftSide p {
      font-size: 0.9rem;
      line-height: 20px
    }
  }
  
  /* founder's section */
  
  .founderSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom, white 50%, #ebfaff 50%);
  }
  
  .founderSection h1 {
    color: #2f327d;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 2.8em;
    font-weight: 600;
    text-align: justify;
  }
  
  .founderSection .persons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin: 10%; */
    width: 80%;
  }
  
  /* sheetal mam's section */
  
  .founderSection .persons .sheetalMam {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5% 5%;
  }
  
  .founderSection .persons .sheetalMam .image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
  }
  
  .founderSection .persons .sheetalMam .image img {
    width: 30rem;
    height: 37rem;
  }
  
  .founderSection .persons .sheetalMam .name h1 {
    margin-top: 5%;
    color: #2f327d;
    font-family: "Nunito Sans", Sans-serif;
    font-weight: 600;
    text-align: justify;
    font-size: 2rem;
  }
  
  .founderSection .persons .sheetalMam .info p {
    margin-top: 10%;
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: justify;
    font-family: "Poppins", Sans-serif;
    font-weight: 400;
    line-height: 27.5px;
  }
  
  /* ram sir's section */
  
  .founderSection .persons .ramSir {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5% 5%;
  }
  
  .founderSection .persons .ramSir .image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
  }
  
  .founderSection .persons .ramSir .image img {
    width: 30rem;
    height: 37rem;
  }
  
  .founderSection .persons .ramSir h1 {
    margin-top: 5%;
    color: #2f327d;
    font-family: "Nunito Sans", Sans-serif;
    font-weight: 600;
    text-align: justify;
    font-size: 2rem;
  }
  
  .founderSection .persons .ramSir .info p {
    margin-top: 10%;
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: justify;
    font-family: "Poppins", Sans-serif;
    font-weight: 400;
    line-height: 27.5px;
  }
  
  /* Media queries for responsiveness */
  
  @media screen and (max-width: 1100px) {
    .founderSection {
      background: linear-gradient(to bottom, white 30%, #ebfaff 70%);
    }
  
    .founderSection h1 {
      font-size: 45px;
      line-height: 50px;
      margin-top: 3%;
    }
  
    .founderSection .persons {
      width: 90%;
    }
  
    .founderSection .persons .sheetalMam .image img {
      margin-top: 4%;
      width: 30vw;
      height: 30vh;
    }
  
    .founderSection .persons .sheetalMam .name h1 {
      text-align: center;
      font-size: 35px;
      line-height: 50px;
      margin-top: 3%;
    }
  
    .founderSection .persons .sheetalMam .info p {
      font-size: 1.2em;
    }
  
    .founderSection .persons .ramSir .image img {
      margin-top: 4%;
      width: 30vw;
      height: 30vh;
    }
  
    .founderSection .persons .ramSir .name h1 {
      text-align: center;
      font-size: 35px;
      line-height: 50px;
      margin-top: 3%;
    }
  
    .founderSection .persons .ramSir .info p {
      font-size: 1.2em;
    }
  }
  
  
  @media screen and (max-width: 990px) {
  
    .founderSection h1{
      font-size: 2rem;
      font-weight: bold;
    }
  
    .founderSection .persons .sheetalMam .name h1 {
      font-size: 1.5rem;
    }
  
    .founderSection .persons .sheetalMam .image img {
      margin-top: 3.5rem;
    }
  
    .founderSection .persons .ramSir .name h1 {
      font-size: 1.5rem;
    }
  
  }
  
  
  @media screen and (max-width: 850px) {
    .founderSection {
      background: linear-gradient(to bottom, white 30%, #ebfaff 70%);
    }
  
    .founderSection h1 {
      font-size: 45px;
      line-height: 50px;
      margin-top: 3%;
    }
  
    .founderSection .persons .sheetalMam .image{
      margin-top: 4rem;
    }
  
    .founderSection .persons .sheetalMam .image img {
      width: 30vw;
      height: 20vh;
    }
  
    .founderSection .persons .sheetalMam .name h1 {
      text-align: center;
      font-size: 35px;
      line-height: 50px;
      margin-top: 3%;
    }
  
    .founderSection .persons .sheetalMam .info p {
      font-size: 1.2em;
    }
  
    .founderSection .persons .ramSir .image img {
      margin-top: 4%;
      width: 20vw;
      height: 20vh;
    }
  
    .founderSection .persons .ramSir .name h1 {
      text-align: center;
      font-size: 35px;
      line-height: 50px;
      margin-top: 3%;
    }
  
    .founderSection .persons .ramSir .info p {
      font-size: 1.2em;
    }
  }
  
  
  @media screen and (max-width: 850px) {
    .founderSection {
      background: #ebfaff;
    }
  
    .founderSection h1 {
      font-size: 45px;
      line-height: 50px;
      margin-top: 3%;
    }
  
    .founderSection .persons {
      flex-direction: column;
      text-align: center;
      height: auto;
    }
  
    .founderSection .persons .sheetalMam {
      order: 1;
    }
  
    .founderSection .persons .ramSir {
      order: 2;
    }
  
    .founderSection .persons .sheetalMam .image img {
      margin-top: -10%;
      margin-left: 0%;
      width: 40vw;
      height: 35vh;
    }
  
    .founderSection .persons .sheetalMam .name h1 {
      text-align: center;
      font-size: 35px;
      line-height: 50px;
      margin-top: 3%;
    }
  
    .founderSection .persons .sheetalMam .info p {
      font-size: 1.2em;
    }
  
    .founderSection .persons .ramSir .image img {
      width: 40vw;
      height: 35vh;
    }
  
    .founderSection .persons .ramSir .name h1 {
      text-align: center;
      font-size: 35px;
      line-height: 50px;
      margin-top: 3%;
    }
  
    .founderSection .persons .ramSir .info p {
      font-size: 1.2em;
    }
  }
  
  @media screen and (max-width: 700px) {
    .founderSection .persons .sheetalMam .image img {
      width: 40vw;
      height: 30vh;
    }
  
    .founderSection .persons .sheetalMam .name h1 {
      text-align: center;
      font-size: 35px;
      line-height: 50px;
      margin-top: 3%;
    }
  
    .founderSection .persons .sheetalMam .info p {
      font-size: 1.2em;
    }
  
    .founderSection .persons .ramSir .image img {
      width: 40vw;
      height: 30vh;
    }
  
    .founderSection .persons .ramSir .name h1 {
      text-align: center;
      font-size: 35px;
      line-height: 50px;
      margin-top: 3%;
    }
  
    .founderSection .persons .ramSir .info p {
      font-size: 1.2em;
    }
  }
  
  @media screen and (max-width: 550px) {
  
    .founderSection h1{
      font-size: 2.6rem;
    }
  
    .founderSection .persons .sheetalMam .image img {
      width: 35vw;
      height: 25vh;
    }
  
    .founderSection .persons .sheetalMam .name h1 {
      text-align: center;
      font-size: 1.5rem;
      line-height: 20px;
      margin-top: 3%;
    }
  
    .founderSection .persons .sheetalMam .info p {
      font-size: 1rem;
    }
  
    .founderSection .persons .ramSir .image img {
      width: 35vw;
      height: 25vh;
    }
  
    .founderSection .persons .ramSir .name h1 {
      text-align: center;
      font-size: 1.5rem;
      line-height: 20px;
      margin-top: 3%;
    }
  
    .founderSection .persons .ramSir .info p {
      font-size: 1rem;
    }
  }
  
  @media screen and (max-width: 450px) {
  
    .founderSection h1{
      font-size: 1.5rem;
    }
  
    .founderSection .persons .sheetalMam .image img {
      width: 60vw;
      height: 40vh;
    }
  
    .founderSection .persons .sheetalMam .name h1 {
      text-align: center;
      font-size: 1rem;
      line-height: 20px;
      margin-top: 3%;
    }
  
    .founderSection .persons .sheetalMam .info p {
      font-size: 0.9rem;
    }
  
    .founderSection .persons .ramSir .image img {
      width: 60vw;
      height: 40vh;
    }
  
    .founderSection .persons .ramSir .name h1 {
      text-align: center;
      font-size: 1rem;
      line-height: 20px;
      margin-top: 3%;
    }
  
    .founderSection .persons .ramSir .info p {
      font-size: 0.9rem;
    }
  }