.courseListContainer {
  padding: 5rem 1rem 3rem;
  text-align: center;
}

.courseListContainer h2 {
  color: #002e5b;
  margin-bottom: 3.5rem;
  font-family: Raleway, Arial, sans-serif;
}

.courseCardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.courseCardContainer a {
  font-weight: 500;
}

.courseCardContainer a:hover {
  text-decoration: none;
  font-weight: 700;
}

.courseLangCard {
  cursor: pointer;
  width: 150px; /* Ensure all cards have the same width */
  height: 200px; /* Ensure all cards have the same height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.courseLangCard h4 {
  font-family: Raleway, Arial, sans-serif;
  margin: 10px 0 0 0; /* Add margin to separate text from image */
}

.courseLangCard img {
  margin-bottom: 10px;
}

@media (max-width: 1000px) {
  .courseListContainer {
    padding: 5rem 1rem 1rem;
    text-align: center;
    font-family: Raleway, Arial, sans-serif;
  }

  .courseCardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .courseLangCard{
    margin-bottom: 4rem;
  }

}


